@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: OpenSans, sans-serif;
} 

.page {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* header */

.header {
  background-image: url(../images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  position: relative;
  padding-top: 26px;
  margin-bottom: 64px;
  width: 100%;
  padding-bottom: 134px;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: 1;
}

.header-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto; 
  position: relative;
}

.logo-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  max-width: 1200px;
  padding: 0 15px;
  right: 0;
  left: 0;
  //*margin: auto;*//
} 

.logo {
  width: 180px;
}

.menu-shot-conteiner {
  position: absolute;
}

.menu-shot {
  width: 27px;
  height: 31px; 
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
}

.menu-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu-link {
  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}

.menu-link:hover {
   text-decoration: underline;
}

.menu-list > li:nth-child(n+2) { /* не смогла сделать без дочерних селекторов*/
  margin-left: 35px;
} 

.welcome-title-container {
  max-width: 700px;
  margin: auto;
  position: relative;
  z-index: 2;
  vertical-align: center;
  margin-top: 99px;
}

.welcome-title {
  max-width: 700px;
  font-size: 45px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 1.6;
  text-align: center;
}

.trends-container-title, .shop-container-title, .popup-title {
  font-size: 20px;
  line-height: 29px;
  color: #0f0d0e;
  font-weight: 700;
  text-transform: uppercase; 
  margin-bottom: 20px;
  text-align: center;
}

.trends-container-title::after, .shop-container-title::after{
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  margin-top: 14px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #b59f5b;
  background-position: center center;
}

.trends-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  //*margin-top: 6%;*//
}

.trend-item {
  background-color: #eff6f1;
  width: calc(25% - 5px);
  display: flex;
  align-items: flex-end;
  min-height: 350px;
  max-height: 400px;
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.trend-item:nth-child(n+2) {
  margin-left: 5px;
}

.trend-item::after {
  content: "";
  background-color: #000000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.6;
  z-index: 0;
  }

.trend-description {
  border: 3px solid #b59f5b;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  z-index: 11;
  padding: 20px;
  flex-shrink: 2;
  }

.trend-title-link {
  text-decoration: none;
  font-size: 20px;
  line-height: 1.2;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
}

.trend-title-link:hover {
  color: #b59f5b;;
}

.trend-item-1 {
  background-image: url(../images/trend1.jpg);
}

.trend-item-2 {
  background-image: url(../images/trend2.jpg);
}

.trend-item-3 {
  background-image: url(../images/trend3.jpg);
}

.trend-item-4 {
  background-image: url(../images/trend4.jpg);
}

/* main */

.page-container {
  display: flex;
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
  justify-content: space-between;
  margin-bottom: 65px;
   margin-top: 62px;
  flex-direction: column;
  align-items: center;
}

.main-shop {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 63px;
}
.main-aside {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  justify-content: space-between;
}

.main {
  max-width: 778px;
  display: flex;
  flex-direction: column;
}

.post {
  display: flex;
  margin-bottom: 59px;
}

.post:last-child {
  margin-bottom: 0;
}

.post-description {
  margin-left: 35px;
}

.post-img {
  width: 381px;
  background-color: #eff6f1;
}

.post-tag {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
}

.post-tag-link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #b59f5b;
}

.post-tag-link:hover {
   text-decoration: underline;
}

.post-tag-item:nth-child(n+2) {
  margin-left: 20px;
}

.post-title-link {
  text-decoration: none;
  font-size: 20px;
  line-height: 1.2;
  color: #0f0d0e;
  font-weight: 700;
  text-transform: uppercase;
}

.post-title-link:hover {
  color: #b59f5b;
}

.post-info-date {
  font-size: 12px;
  color: #888888;
  font-weight: 400;
}

.post-info-author {
  font-size: 12px;
  color: #000000;
  font-weight: 700;
}

.post-about {
  margin-top: 53px;
  font-size: 15px;
  line-height: 1.47;
  color: #0f0d0e;
  font-weight: 400;
}

p:nth-child(n+2) {
  margin-top: 16px;
}

.aside {
  width: 272px;
  margin-left: 35px;
}

.side-bar-title {
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
}

.side-bar-title::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  margin-top: 14px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #b59f5b;
  background-position: center center;
}

.side-bar-post {
  display: flex;
  margin-top: 20px;
}

.side-bar-post-img {
  width: 73px;
  height: 70px;
}

.side-bar-post-title-link {
  text-decoration: none;
  font-size: 14px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 10px;
}

.side-bar-post-title-link:hover {
  color: #b59f5b;
}

.side-bar-post-description {
  margin-left: 18px;
  padding-top: 0;
  line-height: 1;
}

.search{
  margin: 60px 0;
  display: flex;
  width: 100%;
}

.search-field {
  width: 220px;
  height: 48px;
  background-color: #f4f7f6;
  padding: 20px;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  line-height: 40px;
  color: #000000;
  font-weight: 400;
  border: none;
}

.search-field:focus {
  background-color: #f4f7f6;
  border: 1px solid #b59f5b;
}

.visually-hidden {
  position: absolute;
  widht: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect (0 0 0 0);
  overflow: hidden;
}

.search-batton {
  border: none;
  width: 48px;
  height: 48px;
  background-color: #b59f5b;
  background-image: url(../svg/search.svg);
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center center;
}

.search-batton:hover {
  background-color: #323232;
}

.subscribe-field {
  width: 100%;
  height: 48px;
  background-color: #f4f7f6;
  margin-top: 21px;
  padding: 17px;
  border: none;
}

.subscribe-field:focus {
  background-color: #f4f7f6;
  border: 1px solid #b59f5b;
}

.subscribe-batton-row {
  margin-top: 16px;
  margin-bottom: 50px;
}

.subscribe-batton {
  border: none;
  font-size: 14px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 700;
  width: 100%;
  height: 48px;
  background-color: #b59f5b;
  text-transform: uppercase;
}

.subscribe-batton:hover {
  background-color: #323232;
}

.tag-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: flex-start;
  margin-bottom: 50px;
}

.tag-list-link {
  display: block;
  text-decoration: none;
  font-size: 12px;
  color: #0f0d0e;
  font-weight: 700;
  text-transform: uppercase;
  border: 3px solid #eeeeee;
  padding: 5px 13px;
}

.tag-list-item {
  margin-top: 6px;
  margin-right: 6px;
}

.tag-list-link:hover {
  border: 3px solid #b59f5b;
}

.categories-list {
  list-style-type: none;
  margin-left: 3px;
}

.categories-list-link {
  text-decoration: none;
  font-size: 14px;
  color: #000000;
  font-weight: 700;
  font-weight: 700;
  margin-right: 5px;
}

.categories-list-link:hover {
  color: #b59f5b;
}

.categories-list-item::after {
  content: "";
  display: block;
  width: 271px;
  height: 1px;
  background-color: #eeeeee;
  margin-top: 6px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  background-position: center center;
}

.categories-number {
  display: inline-block;
  font-size: 12px;
  line-height: 36px;
  color: #b59f5b;
  font-weight: 700;
  vertical-align: super;
}

.shop-container-title {
  font-size: 20px;
  margin-top: 58px;
}

.shop-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
  margin-top: 20px;
  margin: auto;
  justify-content: space-between;
}

.shop-product {
  width: calc((100%/3) - 26px);
  display: flex;
  flex-direction: column;
  padding: 0 26px;
}

/*.shop-item-border {
  border: 3px solid #b59f5b;
  margin-top: -30px;
  padding: 52px 22px 22px 22px;
  flex-grow: 1;
}*/

.shop-item-border {
  padding-top: 19px;
  outline: 3px solid #b59f5b;
  outline-offset: 23px;
  flex-grow: 1;
}

.shop-item-img {
  position: relative;
  z-index: -1;
  text-align: center;
  width: 100%;
}

.shop-item-title {
  font-size: 20px;
  line-height: 1.2;
  color: #0f0d0e;
  text-transform: uppercase;
  font-weight: 700;
}

.text-description {
  font-size: 15px;
  line-height: 1.46;
  color: #0f0d0e;
  font-weight: 400;
}

.link-text {
  text-decoration: none;
  color: #b59f5b;
}

.shop-item-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.item-price-old {
  text-decoration: line-through;
}

.item-price {
  font-size: 20px;
  line-height: 20px;
  color: #0f0d0e;
  font-weight: 700;
}

.shop-button {
  width: 40%;
  height: 46px; 
  background-color: #b59f5b;
  border-style: none;
  font-size: 14px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 700;
  margin-top: 17px;
}

.shop-button:hover {
  background-color: #313131;
}

.popup-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: #00000060;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 20;
  }

  .popup-form {
      background-color: #ffffff;
      width: 390px;
      padding: 54px 30px;
      position: relative;
    }
  
    .form_header {
      text-align: center;
      font-size: 20px;
      text-transform: uppercase;
      margin-bottom: 29px;
      line-height: 1;
    }
  
    .feedback:nth-child(n+2) {
      margin-top: 34px;  
    }
  
    .form_header::after {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 14px;
      content: "";
      width: 66px;
      height: 3px;
      background-color: #e1d9bd;
    }
  
    .field-label {
      font-size: 13px;
      line-height: 1;
    }
  
    .period {
      display: inline-block;
      width: 100%;
      margin-top: 10px;
      border: none;
      background-color: #f4f7f6;  
      padding: 18px 20px;  
      font-size: 13px;
      color: #00000060;
      background-image: url(../svg/form-arrows.svg);
      background-size: 10px;
      background-repeat: no-repeat;
      background-position: right 14px center;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
    }
    
    .period:focus {
      outline: 0px;
      border-bottom: 1px solid #ebe7d7;
    }
  
    .feedback_radio {
      display: inline-block;
      font-size: 13px;
    }
  
    .radio {
      position: absolute;
      clip: rect(1px, 1px, 1px, 1px);
      height: 1px;
      width: 1px;
    }
  
    .radio:checked {
      outline: 3px solid #000000;
      outline-offset: 5px;
    }
  
    .radio:checked ~ .feedback_radio-text::before {
      background-image: url(../svg/form-circle.svg);
    }
  
    .feedback_radio {
      margin-top: 10px;
    }
    
    .feedback_radio:nth-of-type(n+2) {
      margin-left: 15px;
    }
    
    .feedback_radio-text::before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
      width: 20px;
      height: 20px;
      background-image: url(../svg/form-empty-circle.svg);
      background-repeat: no-repeat;
      background-position: center  center;
      background-size: 20px;
    }
  
    .feedback_field {
      max-width: 100%;
      min-width: 100%;
      margin-top: 10px;
      height: 131px;
      border: none;
      background-color: #f4f7f6;  
      padding: 18px 20px; 
      font-family: inherit; 
      font-size: 13px;
      color: #000000;
      opacity: 0.60;
      resize: none;
    }
  
    .feedback_field:focus {
      outline: 0px;
      border-bottom: 1px solid #ebe7d7;
    }
  
    .feedback_button {
      margin-top: 25px;
      width: 100%;
      height: 50px;
      background-color: #b59f5b;
      border: 0px;  
      font-family: inherit;
      color: #ffffff;
      font-weight: bold;
      font-size: 13px;
      text-transform: uppercase;
    }
    
    .feedback_button:hover {
      border-top: 1px solid #b9b29b;
      cursor: pointer;
    }
  
    .popup_close {
      background-image: url(../svg/form-x.svg);
      background-repeat: no-repeat;
      background-position: center  center;
      background-size: 20px;
      width: 20px;
      height: 20px;
      position: absolute;
      top: -20px;
      right: -20px;
    }

    .popup_hidden {
      display: none;
    }


----



.footer {
  
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 42px;
}

.socials {
  width: 1170px;
  margin: auto;
  background-color: #f4f7f6;
  padding: 30px;
  margin-bottom: 70px;
}

.socials-list {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  justify-content: center;
}

.socials-link {
  display: block;
  text-decoration: none;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.socials-link-twitter {
  background-image: url(../svg/004-twitter.svg);
}

.socials-link-pinterest {
  background-image: url(../svg/001-pinterest.svg);
}

.socials-link-facebook {
  background-image: url(../svg/002-facebook-logo.svg);
}

.socials-link-instagram {
  background-image: url(../svg/005-instagram.svg);
}

.socials-link-tumbr {
  background-image: url(../svg/003-tumblr.svg);
}

.socials-link-text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px 1px 1px 1px);
}

.socials-list > li:nth-child(n+2) {
  margin-left: 26px;
}

.copyright {
  text-align: center;
}

.copyright-link {
  text-decoration: none;
  font-size: 12px;
  line-height: 40px;
  color: #999999;
  font-weight: 700;
}

@media (min-width: 1200px) {
  .menu-shot, .welcome-title-mobile, .logo-title-mobile, .menu-shot-conteiner {
    display: none;
  }
}

/*-641-1200*/

@media (min-width: 641px) and (max-width: 1199px) {
  .header {
    background-image: url(../images/banner-bg-tablet.jpg);
    background-size: cover;
  }
  
  .header-container {
    margin: 0 auto; 
   
  display: flex;
    flex-direction: column;
  
    width: 100%; 
    max-width: 100%;
  }

  .menu-shot-conteiner {
    position:  static;
  }

  .welcome-title {
     width: 100%; 

  }
  
  .logo-nav {
    padding-left: 3%;
    padding-right: 3%;
    margin: 0 0 0 0;
  }
    
  .mobile-logo, .welcome-title-mobile, .menu {
  display: none;  
  }
  
  .page-container {
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;  
  }
  
  .main-shop {
  padding-left: 0%;
    padding-right: 0%;  
  }
  
  /*????.articles {
  flex-wrap: wrap;  
  }*/
  
  .main-aside {
    max-width: 100%;
    width: 100%;  
  }

  .main {
    margin-right: 3%;
    max-width: 100%;
  width: 100%;
    display: flex;
  }

  .post:nth-child(1) {
  padding-top: 0;
  }

  .post:nth-child(5) {
  border-style: none;
  }

  .post {
    padding-top: 40px;
    padding-bottom: 19px;
    margin-bottom: 0px;
    flex-direction: column;
    
    border-style: none none solid none;
    border-width: 3px;
    color: #eeeeee;
  }
  
 .post-img {
    margin-right: 0;
    width: 100%
  }

  .post-description {
    margin-left: 0px;
    width: 100%;
  }

  .post-tag-container {
  padding-top: 16px;
}
  .shop {
  margin-top: 50px;
  
  max-width: 100%;
  }

  .shop-container {
  
  flex-wrap: wrap;
  } 

  .shop-product::after {
    content: "";
    position: absolute;
    z-index: -1;
    opacity: 1;
 }
 
 .shop-item-description {
    max-width: 100%; 
 }
  
 .shop-product {
    padding: 24px;
    width: 49%;
 }

  .product-img {
  width: 100%;
  }
  
  .footer {  
   width: 100%;
  }

  .socials {
    width: 100%;
  }
}

@media (min-width: 641px) and (max-width: 1199px) and (orientation: landscape) {
  .trend-item {
    min-height: 30vmin;
  }
  
  .shop-product {
  width: 48%;
  }
}

@media (max-width: 1199px) and (min-width: 641px) and (orientation: portrait), (max-height: 641px) and (orientation: landscape) {
  .trend-item {
    width: calc((100% - 4px)/2);
    min-height: 30vmin;
    margin-top: 4px;
  }

  .trend-item:nth-child(n+2) {
    margin-left: 0px;
  }

  .trends-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  .shop-product {
  width: 48%; 
  }
}

/*<640*/

@media (max-width: 640px) {

  .header {
    background-image: url(../images/banner-mobile.jpg);
   }
  
  .header-container {
    padding-left: 3%;
    padding-right: 3%;
    width: 100%;
    display: flex;
    position: relative;
    z-index: 2;
    flex-direction: column;
  }

  .logo, .welcome-title-container, .menu {
    display: none;
  }

  .logo-title-mobile {
    padding-left: 9%;
    padding-right: 9%;
    margin-top: 170px;
    max-width: 100%;
  }

  .menu-shot-conteiner {
    top: 31px;
    right: 16px;
  }

  .mobile-logo {
    display: block;
    margin: 0 auto;
    max-width: 270px;
  }

  .welcome-title-mobile {
    margin-top: 43px;
    width: 100%;
    line-height: 1.4;
    font-size: 26px;
    line-height: 1.38;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }

  .trends {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 6%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .trend-item {
    margin-bottom: 2px;
  }
  
  .trend-description {
    width: 100%;
    border: 3px solid #b59f5b;
    padding: 0px;
}

  .page-container {
    width: 100%;
    padding: 0 15px;
  }

  .main-shop {
    width: 100%;
  }

  .main-aside {
    flex-direction: column;
  }

  .main {
   width: 100%; 
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-right: 0px;
   margin-left: 0px;
  }

  .post:nth-child(1) {
  padding-top: 0;
  }

  .post:nth-child(5) {
  border-style: none;
  }

  .post {
    padding-top: 40px 14px 19px 14px;
    margin-bottom: 34px;
    flex-direction: column;
    border-bottom: solid;
    border-width: 3px;
    color: #eeeeee;
  }
  
  .post-img {
    margin-right: 0;
    width: 100%;
  }

  .post-title {
    margin-top: 6px;
    margin-bottom: 28px;
    font-size: 16px;
    width: 100%;
  }

  .post-description {
   margin: 0 auto;
   padding-bottom: 27px;
   width: 100%;
  }

  .aside {
    width: 100%;
    margin: 0 auto;
  }

 .side-bar-post {
   width: 100%;
 }

 /*.side-bar-post-description {
  width: calc(100% - 88px);
 }*/
 
 .search {
   width: 100%;
  }
  
  .search-field {
  width: calc(100vw - 79px);  
  }

  .subscribe-field {
    width: 100%;
 }

  .subscribe-batton {
    width:100%;
  }

  .categories {
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
  }

  .categories-list-conteiner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .categories-list-link {
    padding-top: 7px;
    padding-bottom: 14px;
    width: 100%;     
  }

 .shop {
    flex-wrap: wrap;
    width: 100%;
 }

.shop-product {
  width: 100%;
}

 .shop-product:nth-child(n+2) {
  margin-top: 57px;
 }

.shop-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }

  .shop-product::after {
      top: 270px; /*calc(290px - 10vw);*/
  }

  .shop-item-description {
  margin: 0px;
  max-width: 100%;/*++*/
}

 .product-img {
  width: 100%;
 }
 
 .shop-product::after {
   top: 55%;
}

.shop-product:nth-child(-n+2) {
    margin-right: 0px;
  }

  .text-description {
  width: 100%;
  }

  .footer {
    margin: 63px 0px 70px 0px;
    padding-left: calc((100% - 340px)/2);
    padding-right: calc((100% - 340px)/2);  
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    z-index: 0;
    max-width: 1200px;
  }

  .socials {
    width: 100%;
  }

  .socials-list {
    width: 100%;
  }

  .copyright {
    width: 100%;
  }
}

@media (max-width: 641px) and (orientation: portrait) {

  .trends-container {
    flex-direction: column;  
  }

  .trend-item {
    width: 100%;
  }

  .trend-item:nth-child(n+2) {
    margin-left: 0;
  }

  .socials {
    padding-left: 0;
    padding-right: 0;
   }

//*@media (max-width: 641px) and (orientation: landscape) {
  .trends-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .trend-item {
      width: 48%;
  }
}*//
